
<% if current_user.has_role? :admin or current_user.has_role? :manager %>
  <h1><strong>Hello Admin</strong></h1>

   <%= render 'admin' %>

<% end %>


<% if(current_user.has_role?(:user) && !current_user.verify) %>

  <h1><strong>Hello <%= current_user.first_name %>!</strong></h1>

  <p>Welcome to Banking System,</p>
  <p>Your account has been created successfully</p>
  <p>You will recieve an confirmation email once your information gets verified and then you will be able to access your account</p>

  <p>Thanks for joining us, Have a great day!</p>
<% end %>





<% if (!current_user.has_role? :admin) && (!current_user.has_role? :manager) %>
    <%= render 'verifieduser' %>
<% end %>  








